html, body {
  padding: 0;
  margin: 0;
  background: url(parchment.jpg)no-repeat center center;
  background-size: cover;
  height: 100%;
}
#wrapper {
  min-height: 100%;
  position: relative;
}
#header {
  padding: 10px;
}
#body {
  padding: 10px
  padding-bottom: 30px;
}
.header {
  background-color: #1d2911;
  height: 150px;
  display: flex;
  align-items: center;


}
.header h1{
  color: #f2e4ca;
  text-align: center;

}
.navbar {
  border-radius: 0;
}

#stnd {
  background: url(stnd.jpg)top right;
  width: 940px;
  overflow: hidden;
  margin: 50px auto;


}
.feature h2 {
  text-transform: uppercase;
  color: white;
  margin-top: 0;

}
.feature p{
  float: left;
  color: white;
  background-color: rgba(0,0,0,0.5);
}
.pic {
  height: 200px;
  width: 940px;
}

#buy {
  background: url(buy.jpg)top left;
  width: 940px;
  overflow: hidden;
  margin: 50px auto;
}
#about {
  background: url(about.jpg)top left;
  width: 940px;
  overflow: hidden;
  margin: 50px auto;
}
img {
  height: 400px;
  width: 322px;
}
select{
  display: inline;
}

.col-md-4 h2 {
  margin: 0;
}

.choices {
  height: 400px;
  width: 322px;
  border: 1px solid black;
}

.equipment-list {
  height: 400px;
  width: 322px;
  border: 1px solid black;

}
/*don't think I need this
.bard {
  margin-top:0;
}*/

.footer {
  background-color: #1d2911;
  color: #f2e4ca;
  height: 30px;
  clear: both;
}
